/* Form styling */

#addbutton:hover {
    background-color: #45a049;
}

/* Table styling */
.payments-table {
    width: 100%;
    border-collapse: collapse;
}

.payments-table th, .payments-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.payments-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.payments-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.payments-table tbody tr:hover {
    background-color: #f1f1f1;
}

.payments-table td img {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}



input[type="text"],
textarea,
#urating
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

 #updatePayment{
    display: none;
    margin-bottom: 30px;

}

textarea {
    resize: vertical;
    height: 100px;
}

/* Submit button */
#uSubmit{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}


#update-button {
    width: 100px; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better appearance */
    margin-right: 10px; /* Add margin to separate buttons */
    margin-top: 5px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}



#update-button:hover {
    background-color: #45a049; /* Darker green color on hover */
}


#paymentStatus {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none; /* Hide default arrow icon */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%231e75e5" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 24px 24px;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}

/* Style the options */
#paymentStatus option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}