

    /* Theme Variables */

:root {
    --black: #000000;
    --medium-black: #1b1313;
    --light-black: #312a2a;
    --white: #ffffff;
    --golden: #ffb420;
    --dark-golden: #fc9f14;
    --dark-grey: #929292;
    --grey: #b4b4b4;
    --light-grey: #d9d9d9;
    --background-theme: #dddddd; 
}

body {
    background: var(--background-theme);
    text-align: center;
    padding-bottom: 0%;
}


/* Header Style */

#header {
    margin: 20px;
    margin-top: 20px;
}

#header .header-container {
    background-color: var(--black);
    padding: 7px;
    height: 40px;
    border-radius: 50px;
    display: flex;
}

header div div div {
    flex: 1 1 0;
    margin: 5px;
}

#header .header-container .logo {
    margin: auto 35px;
    margin-right: 30px;
    flex-grow: 2;
    max-height: 18px;
    text-align: start;
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
    font-size: large;
    transition: all 0.3s;
}

.logo a:hover {
    opacity: 90%;
}

#header .header-container .search-bar {
    flex-grow: 5;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 90%;
    height: 100%;
    padding-left: 15px;
    background-color: var(--medium-black);
    border-radius: 100px;
    color: var(--light-grey);
    font-size: 15px;
    border: 1px solid var(--grey);
}

.search-bar button {
    margin: auto 5px;
    padding: 6px;
    background: var(--golden);
    color: var(--black);
    border: 1px solid var(--dark-golden);
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
  
.search-bar button:hover {
    background: var(--dark-golden);
}

#header .header-container .dropdown {
    display: flex;
    justify-content: end;
}

.dropdown .dropbtn,
.dark-mode button {
    height: 100%;
    margin: auto 5px;
    padding: 3px 7px;
    background: var(--golden);
    color: var(--medium-black);
    border: 1px solid var(--dark-golden);
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.dropdown button span {
    font-size: 10px;
}
  
.dropdown button:hover {
    background: var(--dark-golden);
}


.dropdown {
    float: right;
    /* overflow: hidden; */
  }

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: var(--light-grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    border-radius: 15px;
}

.dropdown-content a {
    border-radius: 15px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--grey);
}

.show {
    display: block;
}



#header .header-container .dark-mode {
    display: flex;
    justify-content: center;
}

.dark-mode button {
    background: var(--grey);
    color: var(--white);
    border-color: var(--medium-black);
    cursor:default;
}

.dark-mode button .toggle {
    color: var(--black);
    height: auto;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.dark-mode button .toggle:hover {
    opacity: 70%;
    
}



    /* Banner Style */

#banner-area {
    margin: 25px 20px;
    border-radius: 30px;
    background: var(--grey);
    height: 500px;
}

#banner-area .carousel-inner .carousel-item img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

#banner-area .carousel button {
    width: 60px;
}


    /*  Categories Button Style   */

#categories {
    margin-bottom: 40px;
}

#categories h3 {
    margin-top: 35px;
    margin-bottom: 25px;
}

#carousel-brands .owl-carousel .item button,
#carousel-products .owl-carousel .item button,
#categories .owl-carousel .item button {
    overflow: hidden;
    transition: all 0.5s ease;
}

#categories .owl-carousel .item button:hover {
    font-size: larger;
}

#carousel-products .owl-carousel .owl-nav button,
#carousel-brands .owl-carousel .owl-nav button,
#categories .owl-carousel .owl-nav button {
    position: absolute;
    outline: none;
}
#categories .owl-carousel .owl-nav button {
    top: 2%;
}

#carousel-products .owl-carousel .owl-nav button {
    top: 120px;
}

#carousel-brands .owl-carousel .owl-nav button {
    top: 15px;

}

#carousel-brands .owl-carousel .owl-nav button.owl-prev,
#carousel-products .owl-carousel .owl-nav button.owl-prev,
#categories .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#carousel-brands .owl-carousel .owl-nav button.owl-prev span,
#carousel-brands .owl-carousel .owl-nav button.owl-next span,
#carousel-products .owl-carousel .owl-nav button.owl-prev span,
#carousel-products .owl-carousel .owl-nav button.owl-next span,
#categories .owl-carousel .owl-nav button.owl-prev span,
#categories .owl-carousel .owl-nav button.owl-next span {
    font-size: 30px;
    color: var(--black);
    padding: 0 1rem;
}

#carousel-brands .owl-carousel .owl-nav button.owl-prev span,
#carousel-products .owl-carousel .owl-nav button.owl-prev span,
#categories .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

#carousel-brands .owl-carousel .owl-nav button.owl-next,
#carousel-products .owl-carousel .owl-nav button.owl-next,
#categories .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#carousel-brands .owl-carousel .owl-nav button.owl-next span,
#carousel-products .owl-carousel .owl-nav button.owl-next span,
#categories .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

.category-btn {
    border: 1px solid var(--black);
    border-radius: 20px;
    background: var(--background-theme);
    padding: 10px 25px;
    font-size: large;
}




    /* Carousel Products */
#carousel-products {
    margin: 60px auto;
}

.product .container .item {
    background: var(--white);
    border-radius: 30px;
    width: 220px;
    height: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12), 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
}

.product .container .item img {
    background: var(--grey);
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 3px 10px;
}

.product .container .item div button {
    background: var(--golden);
    border-radius: 15px;
}

.product .container .item div button:hover {
    background: var(--dark-golden);
}

.product .container .veiw-btn {
    background: var(--golden);
    position: absolute;
    right: 5%;
    margin-top: 20px;
    border-radius: 15px;
    font-size: small;
    padding: auto 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.blogs .container .veiw-btn:hover,
.product .container .veiw-btn:hover {
    background: var(--dark-golden);
}




    /* Carousel Brand */

#carousel-brands .container .item img {
    background: var(--grey);
    border-radius: 30px;
    width: 70px;
    height: 70px;
}



    /* Blogs Section */

.blogs .container {
    border-radius: 30px;
    margin-bottom: 50px;
    /* background: var(--white); */
}

.blogs .container .blog {
    text-align: start;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.blogs .container .blog img {
    height: 300px;
    width: 500px;
    background: var(--grey);
    border-radius: 25px;
}

.blogs .container .blog .blog-body {
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 500px;
    /* background: var(--white); */
}
.blogs .container .blog .blog-body div {
    align-items: center;
    padding: 10px;
    height: 220px;
}

.blogs .container .blog .title {
    margin-bottom: 40px;
}

.blogs .container .blog .blog-body button {
    background: var(--golden);
    border-radius: 15px;
}

.blogs .container .blog .blog-body button:hover {
    background: var(--dark-golden);
}

.blogs .container .veiw-btn {
    background: var(--golden);
    height: 35px;
    width: 100px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: small;
    padding: auto 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}



  /* Footer Style */

.footer {
    margin-top: 20px;
    padding: 20px;
    bottom: 0px;
    background: var(--golden);
    color: var(--medium-black);
    font-size: 14px;
}


.footer h3{
    color: var(--black);
    font-size: large;
}

footer a {
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: normal;
    color: var(--black);
}
footer a:hover {
    color: var(--light-black);
    font-size: 13.5px;
  }

footer i {
    color: var(--medium-black);
    transition: all 0.4s ease;
}  
footer .footer-col-3 i:hover {
    transform: scale(1.1);
    color: var(--light-black);
}

.footer-row {
    display: flex;
    flex: 1 1 0;
}

.footer-col-1 {
    width: 100%;
    padding-left: 30px;
    /* background-color: var(--dark-grey); */
}

.footer-col-1 i{
    font-size: small;
}

.footer-col-2,
.footer-col-3 {
    width: 100%;
    padding-right: 25px;
    /* background-color: var(--grey); */
}
.footer-col-4 {
    width: 100%;
    /* background-color: var(--light-grey); */
}

.footer-col-4 div img {
    height: 60px;
    width: 100px;
    border-radius: 10px;
}

.copyright {
    background: var(--dark-golden);
    font-size: 14px;
    padding: 10px;
}


@media screen and (max-width: 830px) {
    .dark-mode button .toggle {
        display: none;
    }
    
    .dark-mode button {
        background: var(--grey);
        color: var(--black);
        border-color: var(--medium-black);
        cursor:pointer;
    }
    .dark-mode button:hover {
        background: var(--dark-grey);
    }
    
}

@media screen and (max-width: 740px) {
    .logo a{
        font-size: 15px;
    }

    footer .row li .arrow {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #header .container .logo {
        margin-right: 15px;
        margin-left: 25px;
    }
}





                                         /* Catalogue Page Style */

#catalogue .product .container {
    margin-top: 50px;
    margin-bottom: 50px;

}
#catalogue .container #filter-section {
    background-color: var(--white);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

#catalogue .container #filter-section .accordion-item {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
}
#catalogue .container #filter-section .accordion {
    border-radius: 30px;

}

#catalogue .container #filter-section .accordion-button {
    background-color: var(--light-grey);
    border-radius: 30px;

}